<div class="wrapper">
    <div class="main-header">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="white">
            <div class="logo">
                <img src="../assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
            </div>
        </div>
        <!-- End Logo Header -->
        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg" data-background-color="white">
            <div class="container-fluid">
            </div>
        </nav>
        <!-- End Navbar -->
    </div>
    <div class="main-panel">
        <div class="content" align="center">
            <div class="page-inner">
                <div id="notfound">
                    <div class="notfound">
                        <div class="notfound-404">
                            <h1>404</h1>
                        </div>
                        <h2>We are sorry, Page not found!</h2>
                        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

