<div class="wrapper">
    <div class="main-header">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="white">
            <div class="logo">
                <img src="../assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
            </div>
        </div>
        <!-- End Logo Header -->
        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg" data-background-color="white">
            <div class="container-fluid">
            </div>
        </nav>
        <!-- End Navbar -->
    </div>


    <div class="main-panel">
        <div class="content" align="center">
            <div class="page-inner">
                <h1><b>Oh snap! We don't support this version of your browser, and neither should you!</b></h1>

                <p>
                    You are visiting this page because we detected an unsupported browser.
                    Your browser does not support security features that we require. We highly recommend that you update
                    your browser.
                    If you believe you have arrived here in error, please contact us. Be sure to include your browser
                    version.
                </p>
                <h3><b>These are the ones we recommend:</b></h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="../assets/img/Google-Chrome-Logo.png">Google Chrome
                        <span class="badge badge-primary badge-pill">
                            <a href="https://www.google.com/intl/en/chrome" target="_blank" rel="noopener">
                                Download latest
                            </a></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="../assets/img/Mozilla_Firefox.jpg"> Mozilla Firefox
                        <span class="badge badge-primary badge-pill">
                            <a href="https://www.mozilla.org/firefox/all/" target="_blank" rel="noopener">
                                Download latest
                              </a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="../assets/img/Opera.jpg">Opera
                        <span class="badge badge-primary badge-pill">
                            <a href="https://www.opera.com/download" target="_blank" rel="noopener">
                                Download latest
                              </a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="../assets/img/safari.jpg">Apple Safari
                        <span class="badge badge-primary badge-pill">
                            <a href="https://www.apple.com/macos/how-to-upgrade/" target="_blank" rel="noopener">
                                Upgrade your OS
                              </a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="../assets/img/IE.jpg">Microsoft Internet Explorer
                        <span class="badge badge-primary badge-pill">
                            <a href="https://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank" rel="noopener">
                                Download latest
                              </a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="../assets/img/Microsoft-Edge.jpg">Microsoft Edge
                        <span class="badge badge-primary badge-pill">
                            <a href="https://www.microsoft.com/en-us/edge" target="_blank" rel="noopener">
                                Download latest
                              </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>