<app-student-question-set [CurrentTestId]="CurrentTestId"></app-student-question-set>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" style="text-align: center;" role="alert">
            <p>Thanks for taking the time out to do the assessment, your customized Questa Enneagram Self-discovery Profile has been sent on your registered email id. </p>
            <p>Go through the same to discover your type and know so much more!</p>
            <br/>
            <p><a mat-button href="https://questaenneagram.com/" target="_blank">Take me to the website</a>
            </p>
        </div>
    </div>
</div>




