<div class="wrapper">
    <div class="main-header">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="white">
            <div class="logo">
                <img src="../assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
            </div>
        </div>
        <!-- End Logo Header -->
        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg" data-background-color="white">
            <div class="container-fluid">
            </div>
        </nav>
        <!-- End Navbar -->
    </div>
    <div class="main-panel">
        <div class="content" align="center">
            <div class="page-inner">
               <router-outlet></router-outlet> 
            </div>
        </div>
    </div>
</div>


  