<!--
<h2>$<span [countUp]="5000" [options]="opts" class="counter"></span> <span class="tuition-fees">Tuition Fees</span></h2>
-->


<div class="row row-card-no-pd mt--2">
    <div class="col-sm-6 col-md-4" *ngFor="let i of LoadExamStatusCode;let j=index;">
        <div class="card card-stats card-round" [ngSwitch]="i.StatusCode">
            <div class="card-body" *ngSwitchCase="'P'">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <circle-progress [percent]=i.CompletePercentage [radius]="50" [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="2" [outerStrokeColor]="'#1E35B2'" subtitle="In progress"
                                    [innerStrokeColor]="'#9FACF3'" [animation]="true" [animationDuration]="300">
                                </circle-progress>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">{{i.PartialSetName}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngSwitchCase="'C'">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <circle-progress [percent]=i.CompletePercentage [radius]="50" [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="2" [outerStrokeColor]="'#78C000'" subtitle="Completed"
                                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                                </circle-progress>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">{{i.PartialSetName}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngSwitchCase="'NS'">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <circle-progress [percent]=i.CompletePercentage [radius]="50" [outerStrokeWidth]="5"
                            [innerStrokeWidth]="2" [outerStrokeColor]="'#85929E'" subtitle="Not started"
                            [innerStrokeColor]="'#D5D8DC'" [animation]="true" [animationDuration]="300">
                        </circle-progress>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">{{i.PartialSetName}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div *ngIf="this.NoOfQuestionComplete === 100;then Completecontent else Progresscontent"></div>
                <ng-template #Progresscontent>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [style.width.%]="this.NoOfQuestionComplete"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{NoOfQuestionComplete}}%
                        </div>
                    </div>
                </ng-template>
                <ng-template #Completecontent>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                            [style.width.%]="this.NoOfQuestionComplete" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100">
                            {{NoOfQuestionComplete}}%
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>



<div *ngIf="ProgressSetId === 1">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p><u>Module 1 </u></p>

                    <p>
                        For this section, please choose one of the five options given with each statement,
                        depending on how often you think, feel or act that way.
                        <b><i>
                                It's important to keep in mind the context of your life in general and not just your
                                work
                                environment.
                                Also, while responding, look at your life as a whole (since childhood till date) rather
                                than the
                                present
                                situation.
                            </i>
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
<div *ngIf="ProgressSetId === 2">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p><u>Module 2 </u></p>

                    <p>
                        From the given paired statements please choose the option that you relate to the most.
                        <b><i>
                                Keep the focus on your life in general and not just your work environment;
                                and your life as a whole (since childhood till date) rather than the present situation.
                            </i>
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="ProgressSetId === 3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p><u>Module 6 </u></p>
                    <p>
                        Choose one of the five options given with each statement depending on how much you relate to
                        them.

                        <br />
                        This section focuses more on your
                        <b> <i>current life situation and experiences (last 3 to 6 months) </i></b>, so while responding
                        please keep
                        that in mind.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>